.App {
  margin: 1rem;
  font-family: "Antic Slab", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title h2 {
  text-decoration: underline;
  text-decoration-color: #5bec8b;
  text-decoration-style: solid;
  float: left;
  height: auto;
  color: black;
}
.clear {
  clear: both;
}
.SearchResults h5,
.NominationList h5 {
  text-decoration: underline;
  text-decoration-color: #2e7745;
  text-decoration-style: solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  font-size: 18px;
}

.SearchResults {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 35vh;
}

.NominationList {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SearchBar {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  margin: 4px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

footer {
  font-family: "Antic Slab", serif;
}

button:disabled {
  cursor: default
}